apiVersion: v1
kind: Service
metadata:
  name: netflix-app
  namespace: netflix
  labels:
    app: netflix-app
spec:
  # Use LoadBalancer on AKS for direct external IP
  type: LoadBalancer
  selector:
    app: netflix-app
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
